<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Cwasser book shop SPA{% endblock %}</title>
        {% block import_stylesheets %}{% endblock %}

        <script type="text/javascript" src="{{ asset('js/prod.js') }}"></script>
        {% block import_javascripts %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

